body {
    margin: 0;
    font-family: "Times New Roman", Times, serif;
    background: linear-gradient(180deg,
            rgba(255, 123, 92, 1) 0%,
            rgba(255, 123, 92, 1) 25%,
            rgba(255, 108, 129, 1) 100%);
    background-attachment: fixed;
}

@media (min-width: 900px) {
    body {
        background: linear-gradient(90deg,
                rgba(255, 123, 92, 1) 0%,
                rgba(255, 123, 92, 1) 25%,
                rgba(255, 108, 129, 1) 100%);
    }
}